name: another_stepper
description: A flutter package to create easily customizable Horizontal and Vertical stepper.
version: 1.1.5
repository: https://github.com/BlackNoir1/another_stepper

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter: